.star-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star-rating > mat-icon, button {
  color: yellowgreen;
}

.small-stars {
  font-size: 18px!important;
  height: 18px;
  width: 18px;
  min-height: 18px;
  min-width: 18px;
}