<hot-secondary-toolbar 
  [title]="(hotel$ | async) .name" 
  [showBackButton]="isMobileLayout$ | async"
  (onGoBack)="navigateBack()">
  <hot-hotel-menu [isFavorite]="(hotel$ | async) .is_favorite" (onFavorite)="favoriteHotel()" (onContact)="contactHotel()"
    (onBook)="bookHotel()">
  </hot-hotel-menu>
</hot-secondary-toolbar>

<mat-tab-group class="hotel-tab-group" (animationDone)="onTabOpened()" [(selectedIndex)]="currentTabIndex">
  <mat-tab label="About">
    <hot-hotel-info [hotel]="hotel$ | async"></hot-hotel-info>
  </mat-tab>

  <mat-tab label="Reviews" >
      <hot-hotel-reviews [reviews]="reviews$ | async" (onLikeReview)="likeReview($event)"></hot-hotel-reviews>
  </mat-tab>

  <mat-tab label="Location">
    <hot-hotel-location [location]="selectedHotelLocation$ | async"></hot-hotel-location>
  </mat-tab>
</mat-tab-group>