.hotel-review {
  padding:16px;
}

.hotel-review-text {
  text-align: justify;
}

// .review-action-row {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: center;
// }

// .review-action-row > * {
//   margin: 16px 4px;
// }

.review-like-icon {
  color: red;
}